{# Side Database Schema view #}
<div id="schema-container" class="sidebar-container">    
    <div id="schema-content">
        <div class="horizontal-separator">asdfasfdsdafsadf</div>
    </div>
</div>
